fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
pydantic==2.11.7
javalang==0.13.0
chromadb==1.0.15
langchain==0.3.26
langchain-community==0.3.27
pypdf==5.7.0
reportlab==4.4.2
sentence-transformers==3.0.1
langchain-huggingface
python-dotenv